################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParkerC3SerialComms/bin
/ParkerC3SerialComms/obj
